# Environment Template
VITE_API_URL=https://delta-travel-backend.onrender.com/api
VITE_APP_NAME=Delta Travel & Tour
VITE_WHATSAPP_PHONE=251911223344
VITE_EXCHANGE_RATE_FALLBACK=159.98
VITE_DEFAULT_CURRENCY=ETB

# VITE_APP_LOGO=/logo.png
